/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: white;
  color: black;
}

[data-theme="dark"] {
  background-color: #121212;
  color: white;

}

[data-theme="orange"] {
  background-color: #FF630C;
  color: #FDFF99;
}

[data-theme="red"] {
  background-color: #D21C1C;
  color: #EDFFCF;
}

[data-theme="blue"] {
  background-color: #1C4FD2;
  color: #CCFF00;
}

[data-theme="green"] {
  background-color: #1F2B14;
  color: #CCFF00;
}